:root {
    --color-menu-background: rgba(17, 17, 17, 0.9);
    --stereoscopic-offset: 0px;
    --fade-transition: 0.3s;
}

#menu-layer {
    font-size: 14px;
    color: #fff;
}

.separator {
    display: block;
    position: fixed;
    width: 2px;
    height: 100%;
    left: 50%;
    transform: translateX(50%);
    background-color: rgba(100, 100, 100, 0.5);
    background-blend-mode: overlay;
}

.menu-layer--hidden #menu-layer {
    display: none;
}

.menu-layer--hidden canvas {
    filter: blur(0px);
    transition: filter var(--fade-transition);
}

.menu-layer--visible canvas {
    filter: blur(20px) brightness(80%);
    transition: filter var(--fade-transition);
}

.menu-layer--visible #menu-layer {
    display: flex;
}

.stereoscopic-view-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
}

.stereoscopic-view-left, .stereoscopic-view-right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.stereoscopic-view-right {
    left: calc(50% - var(--stereoscopic-offset));
    padding-left: var(--stereoscopic-offset);
}

.view-container {
    background-color: var(--color-menu-background);
    height: fit-content;
    border-radius: 4px;
    overflow: hidden;
}

.view-element {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    position: absolute;
    color: #fff;
    font-size: 14px;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    align-items: center;
}

.dataset-list {
    list-style-type: none;
}

.dataset-list .dataset-list-item {
    padding: 16px 32px;
}

#menu-layer .menu-focus {
    box-sizing: border-box;
    -background: rgba(255, 240, 157, 0.6);
    background: linear-gradient(135deg, rgba(255, 254, 120, 0.6) 10%, rgba(255, 226, 52, 0.6) 100%);
}

.dataset-list .dataset-list-item {
    display: flex;
    flex-direction: column;
    text-overflow: ellipsis;
}

.dataset-list .dataset-list-item .dataset-list-item--title {

}
.dataset-list .dataset-list-item .dataset-list-item--description {
    opacity: 0.5;
}

.attribute-assignment {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 250px;
}

.attribute-assignment > div {
    box-sizing: border-box;
    width: 50%;
}

.attribute-assignment .attribute-name {
    width: 35%;
    padding: 12px 16px;
}

.attribute-assignment .attribute-set {
    width: 65%;
}

.attribute-set .attribute-label {
    display: none;
    padding: 12px 16px;
    text-align: center;
}

.attribute-set .attribute-label--visible {
    display: block;
}

.view-container-controller-instructions {
    background-color: rgba(0, 0, 0, 0);
}

.controller-images img {
    width: 360px;
    height: auto;
    display: none;
}

.controller-images .controller-image--visible {
    display: block;
}

@keyframes gaze-highlight {
    50% {
        transform: scale(0.5);
        transform-origin: center;
    }
}

.gaze {
    display: block;
    position: fixed;
    box-sizing: border-box;
    top: 50%;
    height: 6px;
    width: 6px;
    background-color: transparent;
    border: 2px yellow solid;
    border-radius: 50%;
    animation: gaze-highlight 0.5s infinite;
    z-index: 60;
}

.gaze-left {
    left: 25%;
}

.gaze-right {
    opacity: 0;
    left: 75%;
}

.gaze-info-container {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 22%;
    width: 100%;
    height: 100%;
    z-index: 60;
    left: 0
}

.gaze-info-container .stereoscopic-view-left, .gaze-info-container .stereoscopic-view-right {
    width: 50%;
    height: 100%;
}

.gaze-info-container .stereoscopic-view-right .point {
}

.gaze-info {
    color: #fff;
    background-color: var(--color-menu-background);
    padding: 8px;
    width: 200px;
}

.gaze-info-left {

}

.gaze-info-right {
}

.gaze-info-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
}
.gaze-info-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.gaze-info .point {
    box-sizing: border-box;
    width: 12px;
    height: 12px;
    background-color: #ed6a43;
    border-radius: 50%;
    margin: 12px;
}

.gaze-info-row .label {
    padding: 8px;
}

.gaze-info-row .value {
    padding: 8px;
}